logs/
hpc/jobs/
hpc/outputs/
depreciated/
crop_event_data.py

# Environment and IDE
.vscode/
.idea/
venv/
.env

# System files
.DS_Store


# Python Cache
__pycache__/
*.py[cod]
*$py.class
**/*.pyc

# Data and Artifacts
image_reconstructions/
h5_data/
paraquet_data/
datasample_for_ensem_event_bench/
plots/ 

# Python Cache
__pycache__/
*.py[cod]
*$py.class
**/*.pyc